
<div class="user">
    USER
</div>
<div class="user">
    USER PHOTO
    <% var currentPhotos = userPhotos.photos; %>
    <% include stream %>
</div>
<div class="user">
    FRIEND PHOTO
    <% currentPhotos = friendPhotos.friendsPhotos; %>
    <% include stream %>
</div>