<div id="single-photo">

    <img src="<%=photo.photoUrl%>">

</div>

<div id="box-create-tag">
    <input type="text" name="tag" /><br/>
    <select name="category">
        <option value="beverage">Beverage</option>
        <option value="device">Device</option>
        <option value="sightseeing">Sightseeing</option>
    </select>
    <br />
    <button>Tag!</button>
</div>