<div id="single-photo">

    <img src="<%=photo.photoUrl%>">

</div>

<div id="box-create-tag">
    <input type="text" name="tag" /><br/>
    <select name="category">
        <option value="places">Places</option>
        <option value="food_drink">Food & Drink</option>
        <option value="fashion">Fashion</option>
        <option value="geographic">Geographic (i.e. Land, City)</option>
        <option value="celebrities_society">Celebrities & Society</option>
        <option value="sports">Sports</option>
        <option value="multimedia">Multimedia</option>
        <option value="science_education">Science & Education</option>
        <option value="sports">Sports</option>
        <option value="multimedia">Multimedia</option>
        <option value="science_education">Science & Education</option>
        <option value="technology">Technology</option>
        <option value="automotive_transportation">Automotive & Transportation</option>
        <option value="buildings">Buildings</option>
        <option value="art_entertainment">Art & Entertainment</option>
        <option value="animals">Animals</option>
        <option value="travel">Travel</option>
        <option value="hobbies_interests">Hobbies & Interests</option>
    </select>
    <br />
    <button>Tag!</button>
</div>