<h1><%=title%></h1>

<ul id="stream">
    <% for(var i=0; i<photos.length; i++) {
        var photo = photos[i];
    %>
    <li style="position:relative;">
        <a href="/photo/<%=photo.id%>"><img src="<%=photo.thumbUrl %>" class="sm-image"/></a>

        <% if (photo.tags) {
            for (j=0;j<photo.tags.length;j++) { %>
            <!--p> <%=photo.tags[j].tagname %> </p-->
        <% }
        }
        %>

    </li>

    <% } %>
</ul>




